<!-- index.html -->
<!DOCTYPE html>
<html ng-app="businessCardsApp">

<head>
    <!-- INCANTATIONS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    
    <!-- own styles -->
    <link rel="stylesheet" href="stylesheets/main_styles.css" />
    <link rel="stylesheet" href="stylesheets/contacts_styles.css" />
    
    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    
    <!-- own scripts-->
    <script src="javascripts/script.js"></script>
    <!-- <script src="javascripts/format_utilites.js"></script> -->
</head>

<!-- define angular controller -->
<body ng-controller="mainController">
    
    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Business Cards</a>
                </div>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                    <li><a href="#contacts"><i class="fa fa-comment"></i> Contacts</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <!-- page mask darkens background for modals -->
    <div id="page-mask"></div>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>

    </div>

</body>

</html>