.contact-blandify{
    border:none;margin:0;padding:0;
}

.biz-index-item{
    margin:16px;
    border:none;
    max-width:512px;
    display: flex;
    align-content: space-between; 
}

.contact-index-card{
    min-width: 256px;
    height: 156px;
}

.photo-thumb{
    max-height: 32px;
    max-width:32px;
}


.photo-big{
    align-self: center;
    max-height: 512px;
    max-width: 512px;
}
.contact-index-li-footer{
    margin-left: 10px;
    margin-top: 16%;
}


.modal-business-card{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 512px;
    min-width: 256px;
    z-index: 4000;
    background-color: aliceblue;
    justify-content: center;
} 

.cstm-mdl-list{
    align-items: center;
    min-width: 256px;
    width: 100%;
}
.cstm-mdl-list-i{
    width: 100%;
    text-align: center;
}